JS/BackEnd/antes/node_modules/
JS/BackEnd/24-10-2022/projeto/node_modules/
JS/BackEnd/26-10-2022/projeto1/node_modules/
JS/BackEnd/26-10-2022/projeto2/node_modules/
QA/QA02/node_modules/

JS/BackEnd/package-lock.json
JS/BackEnd/package.json
