@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Silkscreen&display=swap');

body {
    background: linear-gradient(45deg, #cac7ff, #da5fff);
}

.jsico {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 2px;
    transition: 0.2s;
}

.jsico:hover {
    transform: scale(1.05);
}

.body {
    --color-error: red;
    --color-success: green;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.container {
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 50px;
    box-shadow: 6px 6px 10px #67338a;
    width: 450px;
    max-width: 450px;
    margin: 1rem;
    gap: 50px;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form--hidden {
    display: none;
}

.form__title,
.form__button {
    font-family: 'Silkscreen'
}

.form__title {
    font-weight: 500;
    text-shadow: 3px 3px 5px #67338a;
    font-size: 45px;
    margin-bottom: 0.75rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #dddddd;
    outline: none;
    background-color: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: #67338a;
    background: #ffffff;
}

.form__input,
.form__input-error-msg,
.form__link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 400px;
}

.form__button {
    font-weight: 500;
    font-size: 20px;
    color: aliceblue;
    background-color: #67338a;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #67338a;
    transition: 0.2s;
}

.form__button:hover {
    background-color: #13103A;
    color: #da5fff;
    transform: scale(1.10);
}

.form__button:active {
    transform: scale(0.98);
}

.form__message {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1rem;
}

.form__message--success {
    color: rgb(0, 175, 0);
}

.form__message--error {
    color: rgb(204, 0, 0);
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-top: 0;
}

.form__input--group {
    margin-bottom: 1rem;
}

.form__input--error {
    color: red;
    border-color: red;
}

.form__input-error-msg {
    margin-top: 0.8rem;
    font-size: 0.85rem;
    color: red;
}

.form__text {
    text-align: center;
}

.form__link{
    color: #13103A;
    text-decoration: none;
}

.form__input--group2 {
    margin-bottom: 1rem;
}